/*------------------------------------*\
    Topbar
\*------------------------------------*/
.container-full{
	&.container {
		@media (min-width: 1520px) {
			width: 1520px;
		}
	}
}
.wrapper-container{
	position: relative;
} 
.#{$app-prefix}-topbar{
    padding:$topbar-padding;
    background: $topbar-bg;
    color: $topbar-color;
    @include font-size(font-size, $topbar-font-size);
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid $border-color;
    a{
        color: $topbar-link-color;
        &:hover{
            color: $topbar-link-hover-color;
        }
    }

    .fa {
        font-size: 14px;
        line-height: 30px;
        display: block;
        position: relative;
    }
    .icons {
        color: #00f2bc;
        font-size: 14px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        &.icon-basket {
            color: #fff;
            font-size: 16px;
        }
    }
    ul{
        margin:0;
        list-style: none;
        padding: 0;
        li{
            display: inline-block;
            padding:4px 15px 4px 0;
            font-size: 13px;
            font-weight: bold;
            line-height: 2.14;
            &:last-child{
                border:none;
            }
            
        }
    }
    .user-login{
        li {
            border: none;
        }
    }

    .widget-woocommerce-currency-switcher{
        margin:0;
        .dd-options{
            background: $topbar-bg !important;
            padding:0 0 8px;   
        }
        .dd-option{
            border:none;
            background: $topbar-bg !important;
        }
        .dd-select{
            background: transparent !important;
            color: $topbar-color;
        }
        .dd-selected{
            color: #fff;
        }
    }
    .user-login ,
    .wrapper-topmenu{
    }
}
.count_wishlist {
    h1 {
        display: none;
    }
}
.top-cart-wishlist {
	text-align:left;
    .wishlist-icon {
        position: relative;
        margin-right: 22px;
        display: block;
        .count_wishlist {
            position: absolute;
            top: 0px;
            left: -10px;
            background: $theme-color;
            min-width: 16px;
            line-height: 16px;
            border-radius: 50%;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            color: #fff;
            h1 {
                display: none;
            }
        }
    }
    .fa {
        font-size: 14px;
        line-height: 30px;
        display: block;
        position: relative;
        color: #000000;
    }
    .icons {
        color: #00f2bc;
        font-size: 14px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        &.icon-basket {
            color: #fff;
            font-size: 16px;
        }
    }
}
.logged-in{
	.list-inline.acount{
		> li{
			display: inline-block !important;
		}
	}
}
/*------------------------------------*\
    Header
\*------------------------------------*/
##{$app-prefix}-header{
    margin: $header-margin;
    padding:$header-padding;
    z-index: 999;
    // Menu Fixed
    .menu_fixed{
        position: fixed;
        top: 0;
        z-index: 9999;
        background: $white;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: $container-large-desktop;
        padding: 0 ($grid-gutter-width + 10);
        @include transition(all 0.2s ease 0s);
    }
    .tbay-megamenu{
        margin-bottom: 0;
        position: static;;
    }
    .logo.logo-theme{
        line-height: 36px;
        text-align: left;
    }
    .logo img{
        @include transition(all 0.2s ease 0s);
    }
    // search
    .search-form{
        max-width: 250px;
        margin-right: 5px;
        > form{
            border:none;
        }
        .btn{
            font-size: 16px;
            padding: 0;
            position: relative;
            z-index: 9;
            border: none;
            height: 36px;
            width: 36px;
            background: $theme-color;
            border-radius: 8px;
            color: #fff;
        }
        .form-control{
            @include opacity(0);
            position:absolute;
            width:0;
			top:0;
            right: 0;
			left: auto;
            height: 36px;
            border: 1px solid #eee;
            border-radius: 8px;
            @include transition(all 0.2s ease-in-out 0s);
            padding:5px;
        }
        &:hover{
            .form-control{
                @include opacity(1);
                width:200px;
            }
        }
    }
    &.sticky-header1{
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
		-webkit-animation: fadeInDown 0.5s ease;
		-moz-animation: fadeInDown 0.5s ease;
		-ms-animation: fadeInDown 0.5s ease;
		-o-animation: fadeInDown 0.5s ease;
		animation: fadeInDown 0.5s ease;
		transform: translateZ(0);
        @include box-shadow(0px 3px 15px rgba(0, 0, 0, 0.06));
		background: #fff;
		
		@media screen and (max-width: 1024px) {
			position: relative !important;
			box-shadow: none !important;
		}
    }
    .header-inner{position: relative;}
	
    &.header-default{
        .header-main{
            padding: 30px 0 20px;
        }
        .tbay-mainmenu{
            z-index: 100;
            position: relative;
            width: 100%;
        } 
        .tbay-megamenu{
            position: relative;
            margin-bottom: 0;
			float: left;
			width: 100%;
        }
        .header-inner{
            position: relative;
        }
        .main-content{
            position: static;
            margin:35px 0 0;
            @include transition(all 0.2s ease 0s);
            .mega-menu-wrap,
            .mega-menu-megamenu,
            .mega-menu{
                position: static !important;
            }
        }
		.logo.logo-theme a{
			display: inline-flex;
			vertical-align: middle;
		}
        
    }
    &.header-v1{
		-moz-box-shadow:0px 4px 15px rgba(0,0,0,0.06);
		-webkit-box-shadow:0px 4px 15px rgba(0,0,0,0.06);
		box-shadow:0px 4px 15px rgba(0,0,0,0.06);
        .header-setting{
            margin: 5px 0 0;
        }
        .tbay-megamenu {
            min-height: 30px;
            border: none;
        }
		.header-main .header-inner{
			.text-right{
				text-align:right;
			}
		}
		.tbay-mainmenu{
			border-top: 1px solid #fafafa;
			
			
		}
		&.sticky-header1{
            .header-main{
				padding: 0;
				.logo-theme, .tbay-search-form, .list-inline.acount{
					display: none;
				}
				.top-cart-wishlist{
					position: absolute;
					top: 0;
					right: 0;
					z-index: 101;
					padding-top: 7px;
				}
			}
			.tbay-mainmenu{
				border: none;
				.navbar-nav.megamenu > li > a{
					padding: 21px 20px;
				}
			}
        }
    }
    &.header-v2{
		.widget{
			margin-bottom:0;
		}
        #tbay-topbar {
            color: #bbbbbb;
            background-color: #333333;
            border: 0;
			padding:0;
        }
		.contact-layout2{
			
			.white{
				color: #fff;
			}
			li{
				padding: 0px 15px 0px 0;
				line-height: 35px;
				i{
					margin-right: 5px;
					margin-left: 0;
				}
			}
		}
		.pull-right.col-md-8.text-right{
			height: 35px;
		}
      .list-inline.acount{
			display: inline-block;
			text-align:left;
			margin-right: 30px;
			margin-left: 0;
			a.login{
					color: #bbbbbb;
					font-weight:500;
					margin-right: 0;
					margin-left: 10px;
					vertical-align:top;
					line-height:35px;
					&:hover{
						color: $theme-color;
					}
					
				}
			li{
				padding: 0px 15px 0px 0;
				display:block;
				float:left;
				line-height: 35px;
				a{
					color: #bbb;
				}
				i{
					font-size:12px;
					display:inline-block;
					&.block{
						display:inline-block;
					}
				}
				.dropdown-toggle{
					display:none;
				}
				.tit{
					display:inline-block;
					font-size:14px;
					color: #bbbbbb;
					font-weight:500;
					margin: 0 10px 0 3px;
				}
				.user{
					color: #ffffff;
					font-weight:bold;
					text-transform: capitalize;
					margin-right: 10px;
					margin-left: 0;
				}
				
				&:hover{
					.dropdown-menu{
						display:block;
					}
				}
				ul{
					list-style: none;
					li{
						.top-menu{
							.dropdown-menu{
								padding: 10px 20px;
								right:auto;
								.tbay-menu-top{
									li{
										display:block;
										font-weight: normal;
										&:hover{
											a{
												color: $theme-color;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.top-cart{
			.cart-icon{
				font-size:18px;
				i{
					color: #bbbbbb;
				}
			}
			#cart{
				line-height: 32px;
			}
			#cart .mini-cart .qty{
				display:inline-block;
				.amount{
					margin: 0 10px;
				}
				i{
					display:inline-block;
					color: #bbbbbb;
				}
			}
			#cart .mini-cart .sub-title-2{
				font-size: 12px;
				color: #bbbbbb;
				line-height: 35px;
			}
			#cart .mini-cart{
				padding-left: 0;
				padding-right: 0;
			}
			#cart .mini-cart .qty{
				color: #ffffff;
			}
		}
		.logo-in-theme{
			margin-right: 20px;
			margin-left: 0;
			 .logo.logo-theme{
				line-height: 69px;
				a{
					display: inline-flex;
					vertical-align: middle;
				}
			}
		}
		.tbay-mainmenu{
			display: flex;
		}
		.header-search-v2 {
			.tbay-search-form {
				position: absolute;
				top: 100%;
				left: auto;
				right: 0;
				width: 399px;
				display: none;
				-webkit-transition: none;
				-o-transition: none;
				transition: none;
			}
		}
		.header-main{
			border-bottom: 1px solid #eee;
		}
		.navbar-nav.megamenu > li{
			@media (max-width: 1024px){
				padding: 0;
			}
			> a{
				padding: 25px 20px;
				font-weight: 500;
				border-left-color: #eee;
				@include border-radius(0px);
				@media (max-width: 1024px){
					padding: 25px 5px !important;
				}
			}
		}
		.header-search-v2{
			.btn-search-totop{
				height: 69px;
				width: 60px;
				border-radius: 0;
				padding: 0;
				color: #fff;
				font-size: 13px;
				font-weight: bold;
				text-transform: uppercase;
				background: $theme-color;
				box-shadow: none;
				border: 1px solid $theme-color;
				outline: none !important;
				@include transition(all 0.4s ease 0s);
				&.active {
					background: #333 !important;
					border-color: #333;
					.icofont-search-alt-1:before {
						content: "\efb8";
					}
				}
			}
			i{
				font-size: 14px;
			}
		}
		&.sticky-header1{
			.header-main{
				border-bottom: 0;
			}
			.tbay-topbar, .header-search-v2{
				display: none;
			}
			.navbar-nav.megamenu > li:last-child > a{
				border-right-color: #eee;
			}
		}
    }
	&.header-v3{
		.tbay-mainmenu{
			.navbar-nav.megamenu > li{
				&:hover, &.active{
					> a{
						color: #fff !important;
						background: $theme-color;
					}
				}
			} 
			.navbar-nav.megamenu{
				margin-top: 22px;
			}
			.navbar-nav.megamenu > li{
				&:last-child{
					a{
						border-right:none;
					}
				}
				 > a{		
					padding: 9px 12px 23px;
					border-left:none;
					border-radius: 5px 5px 0 0;
					border-bottom:none;
					font-weight: 500;
					i{
						display:none;
					}
				}
			}
			
		}
		.right-item{
			padding: 13px 0 3px 25px;
			border-left: 1px solid #eeeeee;
			text-align: right;
			display: flex;
			margin-left: 17px;
		}
		.header-inner{
			margin-top:12px;
			width: 35%;
		}
		.header-menu{
			display: flex;
			justify-content: flex-end;
			width: 65%;
		}
		.search{
			margin-left: 22px;
		}
		.list-inline.acount{
			margin-right: 15px;
		}
		.header-search{
			float: right;
			width: 70%;
		}
		.logo-in-theme{
			float: left;
			width: 30%;
			 .logo.logo-theme a{
				display: inline-flex;
				vertical-align: middle;
			}
		}
	}
    &.header-v4{
       .tbay-topbar{
		   padding:0;
		   
	   }
	   .widget{
			margin-bottom:0;
		}
        #tbay-topbar {
            color: #bbbbbb;
            background-color: #333333;
            border: 0;
			padding:0;
        }
		.top-contact{
			line-height:35px;
		}
		.text-right{
			height: 35px;
		}
      .list-inline.acount{
			display: inline-block;
			text-align:left;
			margin-right: 30px;
			margin-left: 0;
			a.login{
					color: #bbbbbb;
					font-weight:500;
					margin-right: 0;
					margin-left: 10px;
					vertical-align:top;
					line-height:35px;
					&:hover{
						color: $theme-color;
					}
					
				}
			li{
				padding: 0px 15px 0px 0;
				display:block;
				float:left;
				line-height: 35px;
				a{
					color: #bbb;
				}
				i{
					font-size:12px;
					display: inline-block;
					&.block{
						display:inline-block;
					}
				}
				.dropdown-toggle{
					display:none;
				}
				.tit{
					display:inline-block;
					font-size:14px;
					color: #bbbbbb;
					font-weight:500;
					margin: 0 10px 0 3px;
				}
				.user{
					color: #ffffff;
					font-weight:bold;
					text-transform: capitalize;
					margin-right: 10px;
					margin-left: 0;
				}
				
				&:hover{
					.dropdown-menu{
						display:block;
					}
				}
				ul{
					list-style: none;
					li{
						.top-menu{
							.dropdown-menu{
								padding: 10px 20px;
								right:auto;
								.tbay-menu-top{
									li{
										display:block;
										&:hover{
											a{
												color: $theme-color;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.top-cart{
			.cart-icon{
				font-size:18px;
				i{
					color: #bbbbbb;
				}
			}
			#cart .mini-cart .qty{
				display:inline-block;
				.amount{
					margin: 0 10px;
				}
				i{
					display:inline-block;
					color: #bbbbbb;
				}
			}
			#cart .mini-cart .sub-title-2{
				font-size: 12px;
				color: #bbbbbb;
				line-height: 35px;
			}
			#cart .mini-cart{
				padding-left: 0;
				padding-right: 0;
			}
			#cart .mini-cart .qty{
				color: #ffffff;
			}
		}
		.logo.logo-theme{
			line-height: 59px;
			a{
				display: inline-flex;
				vertical-align: middle;
			}
		}
		.header-main{
			border-bottom: 1px solid #eeeeee;
			.top-contact{
				.contact-layoutv4{
					list-style:none;
					padding:0;
					line-height: 59px;
					margin-bottom: 0;
					
					text-align: center;
					border-left: 1px solid #eeeeee;
					border-right: 1px solid #eeeeee;
					li{
						display:inline-block;
						i{
							font-size:32px;
							color: $theme-color;
							margin-right: 15px;
							margin-left: 0;
						}
						color: #777777;
						font-weight:500;
						&.black{
							color:#222222;
							font-weight:bold;
							margin-left:10px;
						}
					}
				}
			}
			.box-search-4{
				width: 44.66667%;
				padding-left: 0;
				padding-right: 0;
				.tbay-search-form{
					border: none;
					.select-category{
						display:table-cell;
						&.input-group-addon{
							&:after{
								height:100%;
								top:0;
							}
						}
						.SumoSelect{
							width:150px;
							&:hover, &:focus{
								> .CaptionCont{
									box-shadow: none;
								}
							}
							.SelectBox{
								border: none;
								line-height: 56px;
								padding: 0;
								span{
									font-weight:bold;
									color: #222222;
									font-size: 14px;
								}
							}
						}
					}
					.tbay-search{
						line-height: 59px;
						height: 59px;
						padding: 0 0 0 20px;
					}
					.button-group{
						border-radius: 0 !important;
					}
					.button-search{
						margin: 0;
						border-radius: 0 !important;
						padding: 20px !important;
						height: 59px !important;
						&:hover{
							background: $theme-color !important;
							color: #fff !important;
						}
					}
				}
			}
			.tbay-mainmenu{
				width: 4.33333%;
				  
				.btn-offcanvas{
					width: 50px;
					height: 59px;
					border-right: 1px solid #eeeeee !important;
					background:transparent;
					color: #333333;
					font-size:14px;
					border-color: transparent;
					&:hover{
						border-right-color:$theme-color !important;
						background: $theme-color;
						color: #fff;
					}
				}
			}
		}
		
    }
	&.header-v5{
		webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.06);
		box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.06);
		.logo{
			line-height:70px;
			img{
				vertical-align: middle;
			}
		}
		.box-search-5{
			padding: 11.5px 15px;
			.tbay-search-form{
				
				.select-category{
					display:table-cell;
					padding-left: 10px;
					padding-right: 0px;
					&.input-group-addon{
						&:after{
							height:100%;
							top:0;
						}
					}
					.SumoSelect{
						width:150px;
						&:hover, &:focus{
							> .CaptionCont{
								box-shadow: none;
							}
						}
						.SelectBox{
							border: none;
							line-height: 40px;
							padding: 0;
							span{
								font-weight:bold;
								color: #222222;
								font-size: 14px;
							}
						}
					}
				}
				
				.button-search{
					&:hover{
						background:#fff;
						color: $theme-color;
					}
				}
			}
		}
		.right-item{
			text-align: right;
			padding-right: 30px;
			.list-inline.acount.style1{
				padding: 8px 0;
				margin-right:0;
			}
			.top-cart-wishlist{
				padding: 8px 12px;
			}
			.top-account-v5, .top-cart-wishlist , .tbay-mainmenu{
				display:inline-block;
			}
			.tbay-mainmenu{
				.btn-offcanvas{
					width: 50px;
					height: 70px;
					border-right: 1px solid #eeeeee !important;
					border-left: 1px solid #eeeeee !important;
					background:transparent;
					color: #333333;
					font-size:14px;
					border-color: transparent;
					&:hover{
						border-right-color:$theme-color !important;
						background: $theme-color;
						color: #fff;
					}
				}
			}
		}
	}
	
	&.header-v6{
		background:url(../images/bg-header-v6.png) top center no-repeat;
		.header-main{
			padding:0;
		}
		.logo{
			text-align:center;
			position: absolute;
			top: 15px;
			left: 50%;
			transform: translate(-50%,0);
		}
		.header-inner{
			.search{
				padding: 16px 0 15px 15px;
				display: flex;
				.pull-right{
					padding-left: 20px;
				}
				.tbay-search-form{
					border: 2px dashed #eee;
				}
			}
			.right-item{
				padding: 13px 15px;
				.list-inline.acount li{
					a{
						font-size: 14px;
						color: #777777;
						font-weight: 500;
					}
				}
			}
		}
		.tbay-mainmenu .navbar-nav.megamenu > li{
			&.marg-right-395{
				margin-right: 395px;
				@media (max-width: 1199px){
					margin-right: 150px;
				}
			}
		}
		.tbay-mainmenu .navbar-nav.megamenu > li > a{
			padding: 17px 20px;
			text-transform: uppercase;
			border: none;
			@media (max-width: 1024px){
				padding: 17px 10px;
			}
			i{
				display: none;
			}
		}
		.category-v6{
			position: relative;
			.category-inside-title{
				margin: 0;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 900;
				color: #333;
				cursor: pointer;
				display: flex;
				line-height: 46px;
				&:before{
					content: "\f080";
					font-family: 'IcoFont';
					display: block;
					float: left;
					margin-right: 5px;
				}
			}
			.menu-category-menu-container{
				width: 280px;
				position: absolute;
				top: 110%;
				left: 0;
				z-index: 1000;
				display: none;
				.menu-category-menu-container{
					position: relative;
					top: auto;
					left: auto;
				}
				ul{
					li{
						display: block;
						background: #fff !important;
						&:first-child{
							border-top: 0;
						}
						&.esc{
							background: #fafafa !important;
						}
						a{
							padding: 0 0 0 20px;
							text-align: left;
							border-bottom: none !important;
							.caret {
								display: none;
							}
						}
					}
				}
			}
		}
		&.sticky-header1{
			.header-main{
				.tbay-search-form, .logo.logo-theme, .list-inline.acount, .category-v6{
					display: none;
				}
				.search{
					padding:0;
				}
				.right-item{
					padding: 0;
				}
				.top-cart-wishlist{
					position: absolute;
					top: 0;
					right: 0;
					z-index: 102;
				}
			}
			.tbay-mainmenu .navbar-nav.megamenu > li.marg-right-395{
				margin-right: 0 !important;
			}
		}
	}
}

.list-inline.acount.style1{
	display: inline-block;
	text-align:left;
	margin-right: 30px;
	margin-left: 0;
	margin-bottom:0;
	a.login{
			color: $text-color;
			font-weight:500;
			i{
				display:inline-block;
			}
			&.login{
				margin-right: 0;
				margin-left: 10px;
			}
			&:hover{
				color: $theme-color;
			}
		}
	li{
		i{
			display:none;
			&.block{
				display:inline-block;
			}
		}
		
		.tit{
			display:block;
			font-size:14px;
			color: $text-color;
			font-weight:500;
		}
		.user{
			color: #000000;
			font-weight:bold;
			text-transform: capitalize;
		}
		
		&:hover{
			.dropdown-menu{
				display:block;
			}
		}
		ul{
			list-style: none;
			li{
				.top-menu{
					.dropdown-menu{
						padding: 10px 20px;
						margin: 0;
						.tbay-menu-top{
							li{
								display:block;
								&:hover{
									a{
										color: $theme-color;
									}
								}
							}
						}
					}
				}
			}
			ul {
				padding-left: 10px;
			}
		}
	}
}
.navbar-offcanvas .navbar-nav > li.open{
	> .dropdown-menu{
    display: none !important;
	}
	&.collapsable {
		> .dropdown-menu{
  		display: block !important;
  	}
  }
}
/* menu canvas v4 */
.tbay-offcanvas.v4,
.tbay-offcanvas.v5,
.tbay-offcanvas.v7{
	.offcanvas-head{
		padding: 15px 0 15px 30px;
		line-height: 40px;
		background-color: #666;
		color: #fff;
		.btn-toggle-canvas{
			float: right;
			background-color: $theme-color;
			border-color: $theme-color;
		}
	}
	right:0;
	left:auto;
	width: 330px;
	transform: translate(100%,0) !important;
	transition: 0.4s all;
	display:block !important;
	opacity:0;
	visibility:hidden;
	top: 0px;
	.navbar-offcanvas .navbar-nav > li > a{
		i{
			margin-right: 10px;
			margin-left: 0px;
		}
	}
	&.active{
		z-index: 1200;
		transform: translate(0,0) !important;
		opacity:1;
		visibility:visible;
	}
}
.wrapper-container.v4,
.wrapper-container.v5,
.wrapper-container.v7{
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: rgba(0,0,0,0.66);
		visibility: hidden;
		z-index: 1000;
		pointer-events: none;
		-webkit-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	&.active{
		&:after{
			opacity: 1;
			visibility: visible;
			filter: alpha(opacity=100);
		}
	}
}
/* Search Modal */
.search-form-modal{
	.btn{
		font-size: 13px;
		text-transform: uppercase;
		font-weight: bold;
		color: #fff;
		padding: 25.5px 20px;
		border: none;
		background: $theme-color;
		@include transition(0.4s all);
		border-right: 1px solid #fafafa;
		border-left: 0;
		&:hover{
			color: $theme-color;
			background: #fff;
		}
	}
	.modal-dialog{
		.modal-content{
			.modal-header .modal-title{
				text-align: center;
			}
			.modal-body{
				.tbay-search-form{
					.button-group{
						.button-search{
							margin-right: 4px;
						}
					}
				}
			}
		}
	}
}

/*------------------------------------*\
    Main menu for Home 8
\*------------------------------------*/
.wrapper-container.active {
	.tbay-offcanvas.v8 {
		display: block !important;
		padding-left: 100px;
		width: 200px;
		@include box-shadow(rgba(0, 0, 0, 0.176) 0px 3px 4px);
		.bg-primary {
			background-color: #2b87c3;
			.btn-toggle-canvas {
				display: none;
			}
		}
	}
}



/*------------------------------------*\
    Category menu
\*------------------------------------*/
.category-inside {
    width: 230px;
    background: $theme-color;
    border-radius: 8px 8px 0 0;
    position: relative;
    .category-inside-content {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background: #fff;
        padding: 20px;
		z-index: 1000;
        @include box-shadow(0 2px 16px rgba(0, 0, 0, 0.06));
        .list-inline > li {
            display: block;
            background: none;
            li {
                background: none;
            }
        }
    }
    .category-inside-title {
        margin-bottom: 0;
        line-height: 47px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        padding: 0 5px 0 20px;
        color: #fff;
        margin-top: 0;
        &:before {
            display: block;
            float: left;
            content: "\f0c9";
            color: #fff;
            text-align: center;
            font-family: "FontAwesome";
            font-size: 16px;
            font-weight: 900;
            margin-right: 11px;
            min-width: 14px;
        }
    }
}
.treeview {
    li {
		position: relative;
		background: none !important;
		border-bottom: 1px solid #eee;
		padding: 0;
        .hitarea {
            position: absolute;
            top: 0;
            right: 15px;
            background: transparent;
            &:after {
				content: "\e615";
				font-family: simple-line-icons;
				color: #333;
				font-size: 16px;
            }
            &.expandable-hitarea:after {
                content: "\e095";
				font-family: simple-line-icons;
				font-size: 16px;
            }
        }
    }
}
/*------------------------------------*\
    Offer
\*------------------------------------*/
.top-offer {
    line-height: 47px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

/*------------------------------------*\
    Shipping
\*------------------------------------*/
.top-shipping {
    background: url(../images/bg_shipping.png) no-repeat 0 6px;
    padding-left: 70px !important;
    padding-top: 3px;
    float: right !important;
    width: auto !important;
    h1,h2,h3,h4 {
        margin: 0;
        font-size: 13px;
        text-transform: uppercase;
        color: #2b87c3;
    }
    p {
        color: #999;
    }
    strong {
        color: #000;
    }
}

/*------------------------------------*\
    Slide Show
\*------------------------------------*/
.rev_slider_wrapper{
    cursor: pointer;
}
.text-font{
	font-family: $font-family-sans-serif-2;
	&.text-big{
		font-weight:100;
	}
	&.text-big-2{
		position:relative;
		&:before{
			content:'';
			display:block;
			background:url(../images/line-slider.png) center no-repeat;
			position: absolute;
			bottom: -32px;
			/*rtl:begin:ignore*/
			left: 0;
			/*rtl:end:ignore*/
			
			width: 58px;
			height: 8px;
		}
	}
	&.text-big-3{
		background: #fff;
		padding: 9px 15px;
		strong{
			color: #e22a32;
		}
		&:before{
			left:50%;
			transform:translate(-50%,0);
			bottom:-20px;
		}
	}
	&.text-big-4{
		background:transparent;
		padding:0;
	}
	&.text-big-5{
		background: #fff;
		padding: 9px 15px;
		&:before{
			left:20px;
			transform:translate(0,0);
			bottom:-20px;
		}
	}
	&.text-big-6{
		font-weight:bold;
		background: #222321;
		padding: 10px 20px;
	}
}
.tparrows{
	background: #fff !important;
	border-radius:5px !important;
	border: 1px solid #eee;
	width: 45px !important;
	height: 45px !important;
	&:before{
		color: #555 !important;
		font-size: 20px;
		font-weight: bold;
		font-family: IcoFont !important;
		line-height: 45px !important;
		content: "\eb76" !important;
	}
	&.tp-rightarrow{
		&:before{
			content: "\eb79" !important;
		}
	}
	&:hover{
		background: $theme-color !important;
		border-color: $theme-color !important;
		&:before{
			color: #fff !important;
		}
	}
}
.btn-slider{
    padding: 13px 29px !important;
    text-transform: uppercase;
    border-radius: 5px;
	border:1px solid #eeeeee;
	color:#333;
	line-height: 46px !important;
	background: #fff;
	transition :0.4s all !important ;
	&:hover{
		background: $theme-color;
		color: #fff;
		border-color: $theme-color;
	}
	&.btn-color{
		background: $theme-color;
		border-color: $theme-color;
		color: #fff;
		&:hover{
			background: #fff;
			color: #333;
			border-color: #eeeeee;
		}
	}
}
.tp-bullets{
	width: auto !important;
	&:before{
		padding: 0 !important;
	}
	.tp-bullet{
		display: block;
		width: 8px;
		height: 8px;
		background: #eee !important;
		border-radius: 20px;
		border: 1px solid #eee !important;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		cursor: pointer;
		position: initial !important;
		display: inline-block;
		&.selected{
			background: $theme-color !important;
			width: 40px;
			height: 8px;
			margin: 0 5px;
		}
		&:hover{
			background: $theme-color !important;
		}
	}
}
.tp-mask-wrap {
 overflow: visible !important;
}
/*------------------------------------*\
    Breadcrumb
\*------------------------------------*/
.#{$app-prefix}-breadcrumb{
    @include box-size($breadcrumb-layout-bg, $breadcrumb-padding-top, $breadcrumb-padding-bottom);
    @include border-radius(0);
    margin: $breadcrumb-margin;
    text-align: $breadcrumb-alignment;
    font-size: $breadcrumb-font-size ;
    .breadcrumb-title{
        color: $breadcrumb-color;
        margin: 0;
        font-weight: $breadcrumb-title-font-weight;
        @include font-size(font-size, $breadcrumb-title-font-size);
    }
    nav{
       text-align: left;
        line-height: $breadcrumb-line-height;
        a{
            color: $breadcrumb-link-color;
        } 
    }
}

/*------------------------------------*\
    Container
\*------------------------------------*/
.#{$app-prefix}-mainbody{
    @include box-size($container-bg, $container-padding-top, $container-padding-bottom);
}
/*------------------------------------*\
    Content
\*------------------------------------*/
.#{$app-prefix}-content{
    background: $content-bg;
    @include clearfix();
}

/*------------------------------------*\
    Pagination
\*------------------------------------*/
.pagination,
.#{$app-prefix}-pagination{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 0 ;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    ul.page-numbers{
        margin: 0;
        padding:0;
        list-style: none;
        li{
            display: inline-block;
        }
    }
    span,a{
        padding: 10px 15px;
        border:1px solid $border-color;
        line-height: 1;
        background: #fff;
        display: inline-block;
        margin: 0 2px;
		@include border-radius(4px);
        &.current{
            background: $theme-color;
            border-color: $theme-color ;
            color: #ffffff;
        }
    }
    a{
        color: $link-color;
        cursor: pointer;
        &:hover{
            background: $theme-color;
            border-color: $theme-color ;
            color: #ffffff;
            text-decoration: none;
        }
    }
}
/*------------------------------------*\
    Footer
\*------------------------------------*/
.#{$app-prefix}-footer{
    background: $footer-bg;
    padding:0;
    position: relative;
    color: $footer-color;
    border-bottom: $footer-border;
	font-size: $footer-font-size - 1;
	.footer {
		padding: 20px 0;
	}
    .footer-main{
        padding:$footer-padding;
    }
	.bottom-footer{
		 background: #fff;
		 @media (max-width: 992px){
			.vc_fluid {
				width: 100%;
				text-align: center;
				margin-bottom: 15px;
				.wpb_single_image.vc_align_left {
					text-align: center;
				}
			}
		 }
	}
} 
.footer-content{
	padding-bottom: 40px;
}
/*------------------------------------*\
    Copyright
\*------------------------------------*/
.#{$app-prefix}-copyright{
    color: $copyright-color;
    font-size: $copyright-font-size;
    font-weight: $copyright-font-weight;
    @include box-size($copyright-bg, $copyright-padding-top, $copyright-padding-bottom);
    a{
        color: $copyright-link-color;
        &:hover{
            text-decoration: underline;
        }
    }
    ul{
        margin: 0;
    }
    .widget,
    .wpb_content_element{
        margin: 0;
    }
}
/*------------------------------------*\
    Top bar
\*------------------------------------*/
.admin-bar{
	.tbay-offcanvas.offsetop{
		top: 32px;
		@media (max-width: 780px){
			top: 46px;
		}
	}
}
.tbay-offcanvas {
    .tbay-offcanvas-body{
        position: relative;
    }
    visibility:hidden;
    @include opacity(0);
    @include translateX(-100%);
    @include transition(all 0.4s  ease-in-out 0s);
    position: fixed;
    top:0;
    left:0;
    z-index: 1200;
    min-width: 210px;
    width: 60%;
    background: #fff;
    height: 100%;
	overflow-y: auto;
	.navbar-collapse {
		padding: 0;
	}
    .offcanvas-head {
		display: inline-block;
		width: 100%;
		padding: 10px 0 10px 30px;
		line-height: 40px;
		background-color: #666;
		color: #fff;
        .btn-toggle-canvas{
            padding: 5px 10px;
            margin-right: 10px;
			margin-left: 0;
			float: right;
			background-color: $theme-color;
			border-color: $theme-color;
        }
    }
}
.wrapper-container.active{
    .tbay-offcanvas{
        @include translateX(0);
        @include opacity(1);
        visibility:visible;
    }
}
/* Header */
/*  ------------Layout 1--------------  */
.list-inline.acount{
	li{
		display: block;
	}
}
.header-v1{
	.header-main .header-inner{
		.text-right{
			text-align:right;
		}
		.list-inline.acount{
			display: inline-block;
			text-align:left;
			margin-right: 30px;
			margin-left: 0;
			a.login{
					color: $text-color;
					font-weight:500;
					i{
						display:inline-block;
					}
					&.login{
						margin-right: 0;
						margin-left: 10px;
					}
					&:hover{
						color: $theme-color;
					}
				}
			li{
				display: block;
				color: $text-color;
				font-weight: 500;
				i{
					display:none;
					&.block{
						display:inline-block;
					}
				}
				ul{
					li{
						a{
							color: $text-color;
							font-weight: 500;
						}
					}
				}
				a{
					display:block;
					font-size:14px;
					color: #000;
					font-weight:bold;
				}
				.tit{
					display:block;
					font-size:14px;
					color: $text-color;
					font-weight: 500;
				}
				.user{
					color: #000000;
					font-weight:bold;
					text-transform: capitalize;
				}
				
				&:hover{
					.dropdown-menu{
						display:block;
					}
				}
				ul{
					list-style: none;
					li{
						.top-menu{
							.dropdown-menu{
								padding: 10px 20px;
								margin: 0;
								.tbay-menu-top{
									li{
										display:block;
										&:hover{
											a{
												color: $theme-color;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.tbay-mainmenu{
		border-top: 1px solid #fafafa;
		
	}
}

/* Layout 01 */
.position-img{
	overflow: visible !important;
	.img-position > * {
		/*rtl:begin:ignore*/
		float: left;
		/*rtl:end:ignore*/
	}
	
	.position-img-left{
		/*rtl:begin:ignore*/
		position: absolute !important;
		z-index: 1;
		right: auto; 
		left: -15px;
		transform: translate(0,-25%);
		/*rtl:end:ignore*/
	}
	.position-img-right{
		/*rtl:begin:ignore*/
		position: absolute !important;
		z-index: 1;
		right: -15px;
		left: auto;
		transform: translate(0,-55%); 
		/*rtl:end:ignore*/  
	}
	 
	.img-position{
		position: relative;
	}
	
	.position-img-left,
	.position-img-right{
		.vc_single_image-wrapper{
			&:hover{
				box-shadow: none !important;
			}
		}
	}
	&.home_3{
		margin-bottom:0;
		> .container{
			> .row{
				 > * {
					/*rtl:begin:ignore*/
					float: left;
					/*rtl:end:ignore*/
				}
			}
		}
		
			.position-img-left{
				/*rtl:begin:ignore*/
				z-index: 1;
				transform: translate(0,22%);
				/*rtl:end:ignore*/
			}
			.position-img-right{
				/*rtl:begin:ignore*/  
				z-index: 1;
				transform: translate(0,-7%);
				/*rtl:end:ignore*/
			}
			
		
		
	}
}
.vc_heading_home3{
	margin-top: -13px;
	.vc_single_image-wrapper{
		transform: translate(0,-90px);
		margin-bottom:-100px;
		&:hover{
			box-shadow: none !important;
		}
	}
	.wpb_single_image{
		overflow: visible !important;
	}
}
.group-text{
	.text-heading{
		padding: 22px 40px;
		background: #fff;
		transform: translate(-40px,0);
		span{
			color: #222;
			font-size:20px;
			font-family: $font-family-sans-serif-2;
			font-weight:300;
			&.txt2{
				font-family:$font-family-sans-serif;
				font-size:14px;
				font-weight:500;
				margin: 6px 0 0 0;
				display: block;
			}
		}
	}
	> p{
		max-width: 400px;
		margin-right:0;
		position:relative;
		margin-bottom: 40px;
		line-height: 20px;
		&:before{
			content:'';
			display:block;
			background: $theme-color;
			width:40px;
			height:1px;
			margin:30px 0 15px 0;
		}
	}
	.btn-color{
		font-weight: 500;
		margin-right:0;
		font-size: 13px;
		i{
			margin-left:7px;
			margin-right:0;
			font-size:16px;
		}
	}
	&.home_3{
		max-width: 770px;
		margin: 0 auto;
		border: 1px solid #f8f8f8;
		border-top: 0;
		border-bottom-width: 10px;
		border-bottom-color: #e5e5e5;
		border-radius: 0 0 15px 15px;
		border-left: 0;
		border-right: 0;
		display: grid;
		.text-heading{
			padding: 0;
			background: transparent;
			text-align: center;
			transform: translate(0,0);
			span{
				display:block;
			}
			i{
				font-size: 30px;
				color: $theme-color;
				margin: 15px 0 25px 0;
				display: block;
			}
		}
		.quote, .signature{
			border-left: 1px solid #f8f8f8;
			border-right: 1px solid #f8f8f8;
			padding: 0 50px;
		}
		.quote{
			display: flex;
			text-align: center;
			i{
				font-size:18px;
				color: $theme-color;
				margin-right: 5px;
				margin-left: 0;
				margin-top: 3px;
			}
		}
		.signature{
			font-size: 14px;
			padding: 10px 50px;
			text-align: right;
			.job{
				padding: 0;
				margin: 0;
				color: #222;
				font-weight: bold;
				position:relative;
				&:before{
					content: "";
					position: absolute;
					width: 40px;
					height: 1px;
					background-color: #86bc42;
					top: 50%;
					left: -60%;
					transform: translate(0, -50%);
				}
			}
			.name{
				display: block;
				font-weight: 500;
				color: #bbb;
			}
		}
	}
	&.home_6{
		margin-top: 50px;
		border: none;
		.quote{
			border: none;
		}
	}
}

.widget-features.style3{
	margin-bottom:0;
	.feature-box-group{
		display: block;
		.feature-box{
			> div{
				display: inline-block;
				vertical-align: top;
			}
			margin-bottom:40px;
			@media (max-width: $screen-lg){
				margin-bottom: 30px;
			}
			&:last-child{
				margin-bottom:0;
			}
			.fbox-content{
				padding-left: 50px;
				max-width: 320px;
			}
			.fbox-image{
				vertical-align: bottom;
				margin-bottom: 5px;
			}
			.ourservice-heading{
				font-size:14px;
			}
		}
	}
}

.vc_testimonial{
	overflow: visible;
	padding-top: 55px;
	margin-top: 65px;
	.wpb_single_image.widget .vc_single_image-wrapper:hover{
		box-shadow: none;
	}
	.wpb_single_image.widget {
		margin-bottom:0;
	}
	.widget-text-heading{
		margin-bottom:55px !important;
	}
	&.home_6{
		.heading_testimonial_home_4{
			margin-bottom: 35px !important;
		}
		.widget-testimonials.v2 .owl-controls .owl-dots{
			left: 0;
		}
		margin-top: 10px;
	}
	&.home_6, &.home_2{
		.widget-testimonials.v2 .owl-controls .owl-dots{
			left: -27%;
		}
	}
	&.home_2{
		margin-top: 108px;
		.widget-text-heading{
			 margin-bottom: 58px !important;
		}
	}
}
.vc_blog{
	margin-bottom:10px;
	padding-top:25px;
	.title-heading-blog{
		position:relative;
		text-align: center;
		margin-bottom: 65px;
		&:before{
			content: '';
			display: block;
			background: url(../images/line-slider.png) center no-repeat;
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translate(-50%,0);
			width: 58px;
			height: 8px;
		}
		a{
			color: $theme-color;
		}
	}
	&.home_1{
		.widget-text-heading.style3{
			padding-top: 25px;
		}
		margin-bottom: 77px;
		.post-grid{
			margin-bottom: 0;
		}
	}
	&.home_2{
		padding-bottom: 68px;
		.title-heading-blog{
			margin-bottom: 88px;
		}
		.post-grid{
			margin-bottom: 0;
		}
	}
	&.home_3{
		margin-top: 50px;
		padding-top: 0;
		.post-grid{
			margin-bottom: 0;
		}
		.post-grid .entry-image{
			img{
				border-radius: 3px 3px 0 0;
			}
		}
		.post-grid .entry-meta{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		.widget-testimonials.v2{
			margin-top: 60px;
			.owl-carousel .owl-item{
				padding:0;
			}
		}
		.title-heading-blog{
			margin-top: 42px;
			margin-bottom: 70px;
		}
		.widget-testimonials.v2 .owl-controls .owl-nav{
			text-align: left !important;
			left: 0px;
			right: auto;
		}
		.widget-testimonials.v2 .testimonials-body{
			&:last-child{
				margin-top: 20px;
			}
		}
		.widget-blog .owl-carousel .owl-controls .owl-nav,
		.widget-blog .owl-carousel .owl-controls .owl-dots{
			text-align: left !important;
			left: 15px;
			right: auto;
		}
	}
	&.text_home_4{
		padding-top: 0;
		.title-heading-blog{
			margin-bottom: 75px;
		}
	}
	&.home_4{
		padding-top: 10px;
		.meta-info .author .avatar{
			width: 35px;
			height: 35px;
		}
		.meta-info .entry-date{
			font-size: 13px;
			padding-left: 7px;
			.day{
				padding: 0;
			}
		}
		.post-grid{
			margin-bottom: 30px;
		}
		.post-grid .entry{
			padding: 0 15px 15px;
		}
		.post-grid .entry-title{
			padding: 13px 15px 20px;
		}
		.widget-blog .owl-carousel .owl-controls .owl-nav,
		.widget-blog .owl-carousel .owl-controls .owl-dots{
			text-align: left !important;
			left: 15px;
			right: auto;
		}
	}
	&.home_6{
		padding-top: 0;
		.title-heading-blog{
			padding-top: 25px;
		}
	}
}
.widget-carousel-special{
	.product-block.grid:last-child{
		margin-bottom: 0 !important;
	}
}
.special-style1.home_5{
	margin-bottom: 84px;
}
.widget_products.home_2.style1{
	.product-block.grid{
		margin-bottom: 40px
	}
}
.widget_products.home_3.style1{
	.product-block.grid{
		margin-bottom: 40px
	}
}
.widget-carousel.style3{
	.products-grid.product{
		.product-block.grid, .product-content, .product-block .image img{
			@include border-radius(0);
		}
	}
}
.vc-best-product{
	.widget_deals_products .woocommerce .owl-carousel .owl-controls .owl-nav,
	.widget-carousel-special .woocommerce .owl-carousel .owl-controls .owl-nav,
	.widget-products.widget-carousel .owl-carousel .owl-controls .owl-nav,
	.owl-controls .owl-dots{
		text-align: left !important;
		left: 15px !important;
		right: auto;
	}
	.product-block.grid{
		margin: 0 0 20px;
	
	}
	margin-top:56px;
	&.home_3{
		margin-bottom: 45px;
		margin-top: 50px;
	}
	&.home_4{
		margin-bottom: 20px;
		margin-top: 30px !important;
		.product-block.grid{
			margin: 0 0 40px !important;
		}
		.widget-products.home_4{
			margin-bottom: 88px;
		}
	}
	&.home_5{
		margin-top:0px;
	}
}
.vc_brand.home_6{
	margin-top: 97px;
}
.vc_brand.home_4{
	margin-top: 30px;
	margin-bottom: 40px;
}
.vc_brand.home_5{
	margin-top: 30px;
	margin-bottom: 40px;
}
.vc_brand.home_3{
	margin-top: 65px !important;
}
.vc_new_arrvials.home_6{
	.owl-carousel .owl-dots{
		bottom: -13px;
	}
}
.nav-left{
	.owl-carousel .owl-controls .owl-nav,
	.owl-controls .owl-dots{
		text-align: left !important;
		left: 15px !important;
	}
}
.magin_bt_35{
	margin-bottom: 35px !important;
}
.vc_group_img{
	margin-top:60px;
	&.home_4{
		margin-top: 30px;
	}
}
.vc_box_features{
	 &.home_3{
		transform: translate(0,-60%);
	}
	&.home_6{
		margin-bottom: -50px;
	}
	&.home_4{
		margin: 10px 0 30px;
	}
}

.categorymenu, .widget_tbay_custom_menu{
	.widgettitle{
		line-height: 50px;
		font-size: 13px !important;
		color: #fff !important;
		text-transform: uppercase !important;
		background: $theme-color;
		border-radius: 5px 5px 0 0;
		position:relative !important;
		padding: 0 20px !important;
		font-weight: 500 !important;
		margin:0 !important;
		font-family: $font-family-sans-serif !important;
		&:before{
			content: "\f080";
			font-family: 'IcoFont';
			display:block;
			float:left;
			margin-right:5px;
		}
	}
	.dropdown-menu-inner {
		.widgettitle {
			background: transparent !important;
			color: #222 !important;
			font-weight: 700 !important;
			padding: 0 !important;
			font-size: 14px !important;
			text-transform: capitalize !important;
			&:before{
				display: none;
			}
		}
		.tbay_custom_menu {
			ul li a {
				padding-left: 0 !important;
			}
		}
	}
	.menu-category-menu-container{
		ul{
			border: 1px solid #eee;
			ul {
				border: 0;
				padding: 0 !important;
				li { 
					border: 0;
					a {
						padding-left: 30px !important;
					}
				}
				ul {
					li {
						a {
							padding-left: 40px !important;
						}
					}
					ul {
						li {
							a {
								padding-left: 50px !important;
							}
						}
					}
				}
			}
			li{
				border-top: 1px solid #eee;
				border-bottom: 0 !important;
				padding:0 !important;
				background: none !important;
				&.esc{
					background: #fafafa !important;
				}
				a{
					width: 100%;
					display: block;
					line-height: 39px;
					border-right: 4px solid transparent;
					padding-left: 20px;
					font-size: 13px;
					font-weight: 500;
					 @include transition(all 0.3s  ease-in-out 0s);
					 i{
						 margin-right: 10px;
						 margin-left: 0;
						 font-size: 18px;
						 color: #dddddd;
					 }
					&:hover{
						color: $theme-color;
						border-right-color: $theme-color;
						i{
							color: $theme-color;
						}
					}
				}
			}
		}
	}
}

.tbay_custom_menu.treeview-menu {
	.dropdown-menu {
		position: static;
		border: 0px;
		float: none;
		padding-left: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.15);
		padding-top: 0;
		background: #fafafa;
		padding-bottom: 0;
		@include box-shadow(none);
		p {
			margin-bottom: 0;
		}
		.wpb_row.vc_row {
			margin-top: 0 !important;
			margin: 0;
		}
		.vc_fluid {
			padding: 0;
			width: 100%;
    }
    .wpb_content_element {
    	margin-bottom: 0;
    }
    .widgettitle {
	    font-weight: 700 !important;
	    font-size: 14px !important;
	    margin: 0 !important;
	    padding: 10px 20px !important;
	    line-height: normal !important;
			background: #eee !important;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 0 !important;
			&:before {
				display: none !important;
			}
	  }
	  ul {
	  	margin-top: 0;
	  	border-top: 0;
	  	background: #fafafa;
	  	li {
	  		border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
	  		a {
		    	line-height: normal;
		    	padding: 5px 20px !important;
		    }
			}
	  }
	}
}

.treeview.tbay-vertical-menu li .hitarea:after {
	content: "\e606";
}

.vc_category{
	display: flex;
    text-align: center;
    justify-content: center;
	margin-top: 30px;
	.box{
		margin-right: 10px;
		&:last-child{
			margin-right:0;
		}
		&:hover{
			img{
				border-color: $theme-color;
			}
		}
		img{
			border: 1px solid transparent;
		}
		.tit{
			font-weight:bold;
			font-size:13px;
			text-transform:uppercase;
			margin-top: 10px;
			display: block;
		}
	}
}
.vc-best-product.home_3 .widget-carousel-special .product-block.grid:last-child{
	margin-bottom: 0 !important;
}
.sidebar-home-4{
	.wpb_single_image.widget{
		margin-bottom:40px !important;
		margin-top: 87px;
	}
	.widget-carousel-special{
		.product-block.grid{
			margin-bottom: 15px !important;
			&:last-child{
				margin-bottom: 0 !important;
			}
		}
	}
	.vc_wp_tagcloud{
		.widgettitle{
			display: none;
		}
	}
}
.vc_recommended{
	margin-top:50px;
	margin-bottom: 60px;
	.product-block.grid{
		margin-bottom: 15px !important;
		&:last-child{
			margin-bottom: 0 !important;
		}
	}
	&.home_4{
		margin-bottom: 105px;
		margin-top: 40px;
	}
}
.vc_testimonial_home_4{
	margin: 70px 0 0;
	.widget-testimonials.v2{
		margin-top:0px;
	}
	.widget-testimonials.v2 .owl-controls .owl-nav{
		display: inline-block;
		top: -70px;
	}
	.widget-testimonials.v2 .owl-controls .owl-dots{
		left: 10px;
	}
}
.tit_heading_v5{
	text-align: center;
    background: #fafafa;
    padding: 13px 20px;
	color: #222;
	font-weight: 500;
	a{
		color: $theme-color;
	}
}
.widget_deals_products.home_3{
	.product-block.grid{
		.caption{
			.description{
				display: none;
			}
		}
	}
}
.vc_deal_v5{
	padding-right: 0 !important;
	width: 35% !important;
	.widget_deals_products{
		margin-top: 45px !important;
		.woocommerce .owl-carousel .owl-dots{
			bottom: -65px;
		}
		.woocommerce .owl-carousel .owl-controls .owl-nav{
			top: -38px !important;
		}
		.products-carousel{
			
			.product-block{
				margin: 0;
				background: transparent;
				border: none;
				.product-content{
					border: none;
				}
				&:hover{
					border: none !important;
					.product-content{
						border: none;
					}
				}
				.meta{
					display: none;
				}
				.caption{
					padding: 0;
				}
			}
		}
	}
	&.home_6{
		width: 26% !important;
	}
}

/*rtl:raw:
.vc_product_home_5 .widget-products .products .owl-item:first-child .product-block{
	border-left-color: #eee;
}
*/
.vc_product_home_5{
	padding-left: 0 !important;
	width: 65% !important;
	.widget-products{
		margin:0;
		.products{
			margin-right: 2px;
			    margin-left: 1px;
			.owl-item{
				padding:0;
				.product-block{
					border: 0;
					&:hover{
						border-color: $theme-color !important;
					}
					.rating{
						float: none;
					}
					.price{
						display:block;
					}
					.tbay-subtitle{
						margin-bottom:10px;
					}
					.groups-button{
						.add_to_cart_button{
							background-color: #fff !important;
							@include border-radius(4px);
							width: 32px;
							height: 32px;
							line-height: 30px;
							-webkit-transition: all 0.3s ease-in-out 0s;
							-o-transition: all 0.3s ease-in-out 0s;
							transition: all 0.3s ease-in-out 0s;
							color: #bbb;
							position: relative;
							border: 1px solid #eee;
							text-align: center;
							padding: 0 !important;
							vertical-align: middle;
							float: left;
							margin-right: 5px;
							font-size: 14px;
							font-weight: normal;
							&:hover{
								background-color: $theme-color !important;
								color: #fff;
							}
							i{
								margin-right:0;
								font-weight: normal;
							}
							.title-cart{
								display:none;
							}
							&.added{
								background-color: $theme-color !important;
								color: #fff;
							}
						}
					}
				}
				&:last-child{
					.product-block{
						border-right-color: #eee;
					}
				}
			}
		}
	}
	&.home_6{
		width: 49% !important;
	}
}
.mrgin_55{
	margin-top: 55px;
	margin-bottom: 35px !important;
}
.vc_featured_home_5{
	margin-bottom: 85px;
	.widget-carousel-special{
		padding: 0 15px;
		.product-block .onsale{
			bottom: auto;
			top: 20px;
		}
		 .woocommerce .owl-carousel .owl-controls .owl-nav,
		 .owl-controls .owl-dots{
			 left: 0 !important;
			 right: auto;
		 }
		 
		.owl-controls .owl-dots{
			 bottom: -53px;
		 }		
		.products{
			.owl-item{
				padding:0;
				.item{
					.products-grid{
						margin-bottom:0 !important;
						border-radius:0;
						.product-content{
							margin-bottom:0 !important;
							border-radius:0;
						}
						.caption .name{
							min-height: auto;
							margin-bottom:5px;
						}
						img{
							@include border-radius(0);
						}
					}
				}
			}
		}
	}
}

.vc_tab-product{
	&.home_2{
		padding-right: 75px ;
		padding-left: 75px ;
		@media (min-width: 1200px) and (max-width: 1600px){
			padding-right: 15px ;
			padding-left: 15px ;
		}
	}
}
.vc_tag.home_5{
	margin-top: 70px;
}
.vc_tag.home_4{
	margin-top: 45px;
	.widget.widget-text-heading{
		margin-bottom: 26px;
	}
}
.woo-after-single-product-summary{
	margin-bottom: 100px;
}
.cat-home-4{
	padding-left: 0;
}
.slider-home-4{
	.no-pd-right{
		padding-right: 0;
	}
}
@media(max-width:991px){
    .topbar-mobile  {
        padding: 15px 10px;
        .btn{
            margin-right: 10px;
			margin-left: 0;
            padding:6px 10px;
        }
        .top-cart .dropdown-menu{
            left: -125px;
            right: inherit;
            min-width: 280px;
            &:after,
            &:before{
                display: none;
            }
        }
    }
    .logo-in-theme{
        float: none!important;
        text-align: center;
        width: 100%;
    }
}
/* Rtl */
/*rtl:raw:

#cart .cart-icon .mini-cart-items{
	right: 0;
	left: auto;
}
*/
/* Demos */
.tbay-demo {
	position: fixed;
    right: 0;
	left: auto;
    top: 0;
    z-index: 9409;
    min-height: 100%;
    width: 0;
    @include transition(width .5s);
	.tbay-switch {
		display: block;
		position: absolute;
		left: -50px;
		right: auto;
		top: 200px;
		width: 50px;
		background: #ffffff;
		cursor: pointer;
		@media (max-width: 1400px){
			top: 120px;
		}
		a {
			padding: 12px;
			display: block;
			text-align: center;
			i {
				font-size: 20px;
				display: block;
				color: #fff;
				&.icon-settings {
					padding-bottom: 15px;
					color: #fff;
				}
			}
			&.demo-switch {
				padding-bottom: 0;
				background: rgb(45, 74, 104);
			}
			&.demo-pay {
				background: #ff3f1d;
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				font-weight: bold;
			}
		}
	}
	&.active {
		width: 400px;
		a i {
			color: #333;
		}
	}
	.tbay-demo-content {
		position: absolute;
		width: 400px;
		height: 100%;
		overflow: auto;
		background: #ffffff;
		padding: 25px 16px 5px 17px;
		text-align: center;
		.box-title {
			color: $theme-color;
			font-size: 20px;
			text-transform: uppercase;
		}
		.box-title-sub {
			margin-bottom: 30px;
		}
		.demo-thumb {
			position: relative;
			border: 2px solid #ccc;
			display: block;
			@include transition(all .3s);
			margin-bottom: 20px;
			img,span {
				@include transition(all .3s);
			}
			span {
				position: absolute;
				@include opacity(0);
				top: 44%;
				left: 0;
				width: 100%;
				font-size: 20px;
				color: #fff;
				z-index: 10;
			}
			&:after {
				position: absolute;
				content: "";
				@include opacity(0);
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include transition(all .2s);
				background: #000;
			}
			&:hover {
				&:after {
					@include opacity(0.7);
				}
				span {
					@include opacity(1);
				}
			}
		}
	}
	@media (max-width: $screen-sm){
		.tbay-switch {
			display: none !important;
		}
	}
}

.wpb_single_image .vc_figure {
    position: relative;
}

.addthis_default_style .addthis_separator, .addthis_default_style .at4-icon, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300bs, .addthis_default_style .at300m {
	float: left;
}

 .instagram-widget .owl-carousel .owl-item {
    padding-left: 15px;
    padding-right: 15px;
 }
 .instagram-widget .owl-carousel {
    margin-right: -15px;
    margin-left: -15px;
 }
 .instagram-widget.nav-left .owl-carousel .owl-controls .owl-nav, .instagram-widget.nav-left .owl-carousel .owl-controls .owl-dots {
    left: 15px !important;
 }
 .woocommerce .woocommerce-tabs ul.wc-tabs li>a {
     line-height: 24px;
 }