/*
* General Post Style using for all with naming class entry
*/
.entry-title{
   	font-size: 18px;
    font-weight: 500;
    margin: 0 ;
	line-height: normal;
	overflow: hidden;
	a{
		color: #222;
		&:hover{
			color: $theme-color;
		}
	}
}
.layout-title{
	font-size: 24px;
    font-weight: 600;
    margin: 0 0 8px;
    text-transform: inherit;
}
.entry-create{	
	font-size: 11px;
	color: $theme-color;
	text-transform: uppercase;
	a{
		color: $theme-color;
		&:hover{
			text-decoration: underline;
		}
	}
}
.entry-link{
	margin-top: 20px;
	.readmore {
		color: $theme-color;
		text-transform: capitalize;
		font-weight: 500;
		 font-size: $font-size-base - 2;
		&:hover{
			color: #000;
		}
	}
}
.entry-description{
	line-height: 20px;
}
.meta-info{
	font-size: 14px;
	color: #888;
	transform: translate(0,-12px);
	.author{
		padding: 0;
		a{
			position:relative;
			/*rtl:begin:ignore*/
			padding-right: 10px;
			padding-left: 0;
			/*rtl:end:ignore*/
			
			&:before{
				content: '';
				position: absolute;
				top: 2px;
				/*rtl:begin:ignore*/
				right: 0;
				left: auto;
				/*rtl:end:ignore*/
				
				width: 2px;
				height: 12px;
				background: #ccc;
				/*rtl:raw:
				content: '';
				display: none;
				*/
			}
		}
		.avatar{
			width: 50px;
			height: 50px;
			border: 5px solid #fff;
			border-radius: 50%;
			vertical-align: text-bottom;
			margin: 0;
			display: inline-block;
		}
	}
	i {
		font-size: 11px;
		line-height: 14px;
		margin-right: 3px;
		margin-left: 0;
	}
	.category {
		margin-right: 15px;
		margin-left: 0;
	}
	a {
		color: #888;
	}
	.entry-date{
		.day{
			
		}
	}
	span {
		padding: 0 10px;
		
		&.entry-date{
			padding-left: 7px;
			padding-right: 0;
			i{
				font-size: 14px;
				margin-right: 5px;
			}
		}
		.day{
			padding: 0;
		}
		&:first-child{
			/*rtl:begin:ignore*/
				padding-left: 0;
			/*rtl:end:ignore*/
			
		}
		&:last-child{
			/*rtl:begin:ignore*/
			padding-right: 0;
			border-right: 0;
			/*rtl:end:ignore*/
			
		}
		&.author a {
			color: $theme-color;
			font-size:14px;
		}
	}
}

.entry-vote{
	z-index: 1;
	display: table;
	text-align: center;
	top: 20px;
	position: absolute;
	background: rgba($black,.5);
	@include square(44px);
	right: 20px;
	left: auto;
	.entry-vote-inner{
		color: $white;
		display: table-cell;
		vertical-align: middle;
		font-weight: $headings-font-weight;
	}
	&.vote-perfect{
		.entry-vote-inner{
			color: $red;
		}
	}
	&.vote-good{
		.entry-vote-inner{
			color: $yellow;
		}
	}
	&.vote-average{
		.entry-vote-inner{
			color: #91e536;
		}
	}
	&.vote-bad{
		.entry-vote-inner{
			color: $orange;
		}
	}
	&.vote-poor{
		.entry-vote-inner{
			color: $green;
		}
	}
}
.type-post{
	margin-bottom: 0;
	.entry-single {
		padding-bottom: 20px;
	}
}
.blog-title{
	margin-bottom: $theme-margin;
}

.entry-tags-list{
	clear: both;
    float: none;
	display: block;
	margin-top: 10px;
	a{
		padding: 5px 10px;
		color: #fff;
		background: $theme-color-third;
		margin-right: 5px;
		margin-left: 0;
		margin-bottom: 5px;
		display: inline-block;
		&:hover{
			color: #fff;
			text-decoration: none;
		}
	}
}
.readmore{
    margin-top: 0;
	opacity:0;
	visibility:hidden;
	-webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
	a {
		width: 0;
		height: 0;
		border-bottom: 35px solid $theme-color !important;
		border-left: 35px solid transparent !important;
		position: absolute;
		bottom: 1px;
		right: 1px;
		&:hover{
			border-color: transparent;
		}
	}
	i{
		position: absolute;
		bottom: -35px;
		right: 0;
		background: transparent;
		font-size: 22px;
		color: #fff;
	}
}
//commentform
#commentform{
	.form-control{
		border:1px solid #eee;
	    color: #444444;
	    font-size: 12px;
	    padding: 12px;
	}
	.form-group{
		margin: 0 0 5px;
	}
}

/*
* using for new, magazine
*/
.post-title{
	@include font-size(font-size,$entry-title-font-size);
}
.post-thumb{
	position: relative;
}
.blog-meta{
	top: 0;
	position: absolute;
	right: 0;
	left: auto;
}
/** Post blog style **/

/* Post type: Grid */
.widget-blog.carousel{
	.post-grid .entry-title{
		font-size: 14px;
		font-weight: bold;
		line-height: 1.4;
		padding: 14px 25px 20px;
	}
}
.post-grid{
	margin-bottom: 30px;
	position: relative;
	
	&:hover{
		.entry-title{
			background: $theme-color;
		}
		.entry, .entry-content{
			border-color: $theme-color;
		}
		.readmore{
			opacity: 1 !important;
			visibility: visible;
		}
	}
	.entry-thumb{
		.comments-link{
			position: absolute;
			top: 15px;
			right: 15px;
			left: auto;
			line-height: 25px;
			background: #fff;
			color: #888;
			text-align: center;
			padding: 0 15px;
			border-radius: 5px;
			a{
				color: #bbb;
			}
		}
		img{
			@include border-radius(3px);
			width: 100%;
		}
		&.no-thumb {
			.comments-link{
				top: auto;
				bottom: -12px;
			}
		}
	}
	.entry-title{
		padding: 20px 25px 25px;
		background: #333;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-o-transition: all 0.4s ease-in-out 0s;
		transition: all 0.4s ease-in-out 0s;
		a{
			color: #fff !important;
		}
	}
	.entry-content{
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
		@include border-radius(0 0 3px 3px);
		border-top-color: transparent !important;
	}
	.entry{
		padding: 0 23px 20px ;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		border-bottom: 1px solid transparent;
		@include border-radius(0 0 3px 3px);
		-webkit-transition: all 0.4s ease-in-out 0s;
		-o-transition: all 0.4s ease-in-out 0s;
		transition: all 0.4s ease-in-out 0s;
		p {
			margin-bottom: 0;
		}
	}
	.entry-meta{
		margin:0;
		text-align: left;
		
		.fa,.icon{
			margin-right: 8px;
			margin-left: 0;
		}
		span{
			margin-right: 2px;
			margin-left: 0;
		}
	}
	.entry-description {
	    
		a {
			margin-left: 10px;
		}
	}
	&.vertical{
		.entry-thumb .comments-link{
			right: 25px;
			top: 10px;
			left: auto;
			background: rgba(119,119,119, 0.25);
			color: #fff;
			a{
				color: #fff;
			}
		}
		.entry-content{
			padding: 0;
			border: none;
			border-radius: 0;
			@media(max-width:992px){
				padding: 0 15px;
			}
			.entry-meta{
				position: static;
			}
			.entry{
				padding: 0;
				border: 0;
				border-radius: 0;
			}
			.entry-image{
				img{
					width: 100%;
				}
			}
			.meta-info{
				transform: translate(0, 0px);
				margin: 10px 0px;
				.author .avatar{
					width: 35px;
					height: 35px;
					border: none;
					border-radius: 50%;
					vertical-align: middle;
				}
			}
			
			.entry-title{
				padding: 0;
				background: transparent;
				min-height: auto;
				line-height: 20px;
				font-size: 14px;
				font-weight: bold;
				a{
					color: #333 !important;
					&:hover{
						color: $theme-color !important;
					}
				}
			}
			.entry-description{
				line-height: 20px;
			}
			.readmore{
				opacity: 1 !important;
				visibility: visible !important;
				margin-top: 12px;
				a{
					width: auto;
					height: auto;
					border: none !important;
					position: static;
					font-size: 13px;
					text-transform: uppercase;
					font-weight: 500;
					color: $theme-color;
					&:hover{
						color: #333;
					}
				}
				i{
					position: static;
					bottom: auto;
					right: auto;
					color: inherit;
					font-size: 13px;
					font-weight: normal;
					/*rtl:begin:ignore*/
					margin-left: 7px; 
					margin-right: 0;
					/*rtl:end:ignore*/
				
					
				}
			}
		}
	}
}
.related-posts-content {
	.post-grid .entry-title {
		padding: 14px 25px 20px;
		font-size: 14px;
		line-height: 1.4;
	}
}

/// style posts
.post{
	.entry-thumb {
		position: relative;
		text-align: center;
	}
	&.sticky{
		border: 30px solid $theme-color;
	}
}
.post-password-form{
	input[type=submit] {
		background: $theme-color;
		border: 1px solid $theme-color;
		padding: 0 10px;
		height: 29px;
		color: #fff;
		&:hover{
			background: #fff;
			color: $theme-color;
		}
	}
}
/* Post type: List */
.widget-blog.grid{
	margin-top: 20px !important;
}
.layout-blog{
	.post-list{
		border:none;
		> article {
			&.sticky, &.tag-sticky-2 {
				border:1px solid $theme-color;
				background-color: rgb(250, 250, 250);
				border-radius: 0 0 3px 3px;
				-webkit-border-radius: 0 0 3px 3px;
				-moz-border-radius: 0 0 3px 3px;
				-ms-border-radius: 0 0 3px 3px;
				-o-border-radius: 0 0 3px 3px;
				.entry-content{
					padding: 0px 23px 20px;
				}
				.entry-title{
					font-size: 20px;
					font-weight: bold;
					background: $theme-color;
				}
			}
		}
	}
}
.post{
	 .entry-thumb{
		&.no-thumb{
			.entry-meta{
				position: static;
			}
		}
	}
	
	&.sticky, &.tag-sticky-2{
		.entry-content.no-thumb{
			.entry{
				padding: 0;
				border: none;
			}
		}
	}
	.entry-media{
		text-align: center;
	}
}
.post-list{
	list-style: none;
	padding:0;
	margin:0 0 30px;
	.post{
		&:hover{
			.entry-title{
				background: $theme-color;
			}
			.entry, .entry-content{
				border-color: $theme-color;
			}
			.readmore{
				opacity: 1 !important;
				visibility: visible;
			}
		}
	}
	.entry-title{
		padding: 20px 25px 25px;
		background: #333;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-o-transition: all 0.4s ease-in-out 0s;
		transition: all 0.4s ease-in-out 0s;
		a{
			color: #fff !important;
		}
	}
	.entry-create{
		font-size: 13px;
		text-transform: uppercase;
	}
	.entry-meta{
		margin: 0;
		text-align: left;
	}
	.readmore{
		margin-top: 0;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-o-transition: all 0.4s ease-in-out 0s;
		transition: all 0.4s ease-in-out 0s;
		a{
			width: 0;
			height: 0;
			border-bottom: 35px solid #86bc42 !important;
			border-left: 35px solid transparent !important;
			position: absolute;
			bottom: 0px;
			right: 0px;
		}
		i{
			position: absolute;
			bottom: -35px;
			right: 0;
			background: transparent;
			font-size: 22px;
			color: #fff;
		}
	}
	.meta-info{
		margin-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		background-color: transparent;
		.category{
			margin-top: 15px;
			display: inline-block;
			.categories-name{
				margin-right: 5px;
			}
		}
	}
	.entry-content{
		position: relative;
		border: 1px solid #eee;
		border-radius: 0 0 3px 3px;
		-webkit-border-radius: 0 0 3px 3px;
		-moz-border-radius: 0 0 3px 3px;
		-ms-border-radius: 0 0 3px 3px;
		-o-border-radius: 0 0 3px 3px;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-o-transition: all 0.4s ease-in-out 0s;
		transition: all 0.4s ease-in-out 0s;
	}
	.entry{
		padding: 0 23px 20px;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		border-bottom: 1px solid transparent;
		border-radius: 0 0 3px 3px;
		-webkit-border-radius: 0 0 3px 3px;
		-moz-border-radius: 0 0 3px 3px;
		-ms-border-radius: 0 0 3px 3px;
		-o-border-radius: 0 0 3px 3px;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-o-transition: all 0.4s ease-in-out 0s;
		transition: all 0.4s ease-in-out 0s;
		p {
			margin-bottom: 0;
		}
	}
}

/* Post type: By Category */
.posts-grid-category{
	overflow: hidden;
}
.category-posts{
	position: relative;
	&::after{
		content: "";
		top: 20px;
		position: absolute;
		right: 0;
		left: auto;
		@include size(1px,1000px);
		background: $border-color;
	}
	.post{
		border-bottom: 1px solid $border-color;
	}
	.category-posts-label{
		padding: 1px 3px;
		@include border-radius(0);
		background: $theme-color;
		font-weight: $category-posts-label-font-weight;
		@include font-size(font-size,$category-posts-label-font-size);
		text-transform: $category-posts-label-transform;
		a{
			color: $category-posts-label-color;
		}
	}
	.entry-meta{
		&::after{
			display: none;
		}
	}
	.posts-more{
		.post{
			&:last-child{
				border: 0px;
			}
		}
		.entry-title{
			@include font-size(font-size,$category-posts-subtitle-font-size);
			a{
				color: $gray-light;
				&:hover{
					color: $theme-color;
				}
			}
		}
	}
}

/*------------------------------------*\
    Post detail
\*------------------------------------*/
.sharebox{
	margin-bottom: $post-share-margin;
	.sharebox-title{
		margin: $post-share-title-margin;
	}
}

.social-networks{
	li{
		padding-left: 10px;
		padding-right: 10px;
		&:last-child{
			a{
				margin-right: 0;
			}
		}
		a{
			font-size: 14px;
			&:hover{
				color: $theme-color;
			}
		}
	}
}
.tag-links, 
.post-share {
	margin-bottom: 10px;
	span i {
		margin-right: 5px;
		margin-left: 0;
	}
}
/*------------------------------------*\
    Comment List
\*------------------------------------*/
.comments-title {
	font-size: 20px;
	color: #222;
	&::first-letter {
		font-weight: 300;
	}
}
.comment-list{
	padding: 0;
	margin: 0;
	list-style: none;
	.comment-box{
		font-style: normal;
		padding: 20px 0 8px;
		border-bottom: 1px solid #eee;
		display: block;
	}
	div.avatar{
		padding-left: 0;
		padding-right: 10px;
		font-style: normal;
		.author {
			font-size: 13px;
			text-transform: capitalize;
			color: #333;
			font-weight: 500;
			padding: 0 14px 0 0;
			border-right: 1px solid #e0e0e0;
		}
		.comment-reply-link {
			margin: 0 0 0 7px;
			padding: 4px 10px;
			display: inline-block;
			cursor: pointer;
			color: #333;
			font-size: 13px;
			&:hover {
				color: #333 !important;
				background: #e9e9e9;
			}
			&::before {
				content: "\e050";
				font-family: simple-line-icons;
				margin-right: 5px;
			}
		}
		img{
			@include border-radius(50%);
			width: 50px;
			vertical-align: text-bottom;
			margin: 0 5px 0 0;
			margin-left: 0;
		}
		@media (max-width: 599px){
			min-width: 40px;
			padding-left: 0;
			padding-right: 10px;
		}
	}
	strong{
		font-weight: 500;
	}
	.date{
		color: #888;
		padding: 0 14px;
		font-size: 13px;
		border-right: 1px solid #e0e0e0;
	}

	li{
		list-style: none;
	}
	.children{
		 @media (max-width: 599px){
			padding: 0;
		}
	}
	.the-comment{
		overflow: hidden;
		margin: 0 0 20px;
		
	}
}
.commentform {
	.title{
		font-weight: bold;
		font-size: 18px;
		margin: 0  0 ($theme-margin / 2);
	}
}

/*------------------------------------*\
    Single post
\*------------------------------------*/
.entry-single{
	.entry-title{
		font-size: 33px;
		height: auto;
		line-height: 1.2;
		color: #333;
		margin-bottom: 10px;
		margin-top: 5px;
		font-weight: bold;
	}.entry-thumb {
		float: left;
		margin-left: 0;
		margin-bottom: 15px;
	}
	.meta-info .author .avatar{
		vertical-align: bottom;
	}
	.entry-content {
		.wp-caption {
			border: 0;
		}
	}
	.entry-meta{
		font-size: 13px;
		color: #666;
		margin-bottom: 12px;
		clear: both;
		
		.meta-sep{
			margin: 0 5px;
		}

		.entry-date{
			color: $theme-color;
			 text-transform: uppercase;;
		}
		i {
			margin-right: 5px;
			margin-left: 0;
		}
		a {
			color: #666;
			&:hover{
				text-decoration: underline;
				color: $theme-color;
			}
		}
	}
	#comments{
		padding:30px 0;
		margin: 45px 0 0;
		border-top:1px solid $border-color;
	}
}
#comments{
	#reply-title{
		margin: 0;
	}
	.comments-title{
		font-weight: 500;
		font-size: 20px;
		margin: 0 0 $theme-margin;
	}
}
//post-navigation
.post-navigation{
	padding: 20px 0;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	margin-bottom: 0;
	.screen-reader-text{
		display: none;
	}
	.nav-links{
		overflow: hidden;
		> *{
			width: 48%;
			float: left;
			&.nav-next{
				float: right;
				text-align: right;
			}
		}
		.meta-nav{
			display: block;
			text-transform: uppercase;
			color: #999;
			letter-spacing: 1px;
			font-size: 12px;
			font-weight: 300;
			position: relative;
		}
	} 
	.post-title {
		font-weight: 500;
		font-size: 13px;
	}
}
//related-posts
.related-posts{
	padding: 40px 0 0;
	margin: 0;
	.widget-title{
		text-transform: uppercase;
	}
}

/*------------------------------------*\
    Blog Page Default
\*------------------------------------*/
.post-area{
	.post-list{
		.entry-list{
			margin-bottom: 0;
		}
	}
	.sticky{
		margin-top: 20px;
		padding: 20px;
		border: 2px solid $theme-color;
	}
	.post-link{
		@include font-size(font-size,18px);
		display: block;
		padding: 17px 27px;
		min-height: 60px;
		color: $white;
    	float: left;
    	@include size(100%,auto);
    	background: $gray-darker;
	}
	.entry-meta{
		margin: 8px 0 12px 0;
		font-size: 12px;
		font-weight: 300;
		&,a{
			color: $theme-color;
		}
	}
	.entry-content{
		.ratings{
			.meta{
				color: inherit;
				font-size: inherit;
			}
			.rating {
				a {
					text-indent: -999em;
				}
			}
		}
	}
	.author-info{
		margin-bottom: $blog-content-margin;
		.author-about-container .avatar-img {
			img {
				@include border-radius(50%);
				margin-top: 20px;
				margin-right: 20px;
				margin-left: 0;
			}
		}
		.author-title {
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 500;
		}
	}	
}
.blog-post-icon{
	display: table;
	color: $white;
	text-align: center;
	position: absolute;
	top: 0;
	z-index: 1;
	background: $theme-color;
	@include opacity(0.9);
	left: 0;
	right: auto;
	@include square(50px);
	.fa{
		display: table-cell;
		vertical-align: middle;
		font-size: 22px;
	}
}

/*------------------------------------*\
    Blog Masonry Page
\*------------------------------------*/
.blog-masonry{
	.entry-thumb{
		margin-bottom: 0;
	}
}
// post gallery
.post{
	.gallery {
		.gallery-item{
			figcaption {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				@include opacity(0);
				z-index: 9;
				color: #fff;
				background: rgba(0,0,0,0.7);
				padding: 15px;
			}
			&:hover{
				figcaption{
					@include opacity(1);
				}
			}
		}
	}
}
.single-post{
	.gallery{
		overflow: hidden;
	}
}
.page-links{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 0 ;
    margin:15px 0;
    display: block;
    > a,
    > span:not(.page-links-title){
        padding: 10px 15px;
        border:1px solid $border-color;
        line-height: 1;
        background: #fff;
        display: inline-block;
        margin: 0 2px;
    }
    > span:not(.page-links-title){
    	background: $theme-color  none repeat scroll 0 0;
        border-color: $theme-color ;
        color: #ffffff;
    }
    a{
        color: $link-color;
        cursor: pointer;
        &:hover{
            background: $theme-color  none repeat scroll 0 0;
            border-color: $theme-color ;
            color: #ffffff;
            text-decoration: none;
        }
    }
}

article {
	&.no-results {
		h2 span {
			margin-right: 10px;
		}
		.input-group-btn {
			color: #fff;
			background-color: $theme-color;
			border-color: $theme-color;
			text-transform: none;
			font-weight: bold;
			padding: 4px 10px 3px;
			font-size: 13px;
			outline: none;
			box-shadow: none !important;
			border: 0 !important;
			i {
				color: #fff;
			}
			.btn{
				font-size: 20px;
				padding: 0 15px;
			}
		}
	}
}