.samples-page .ajax-loader { display: none; }

.samples-page {
	padding: 2em 0;
	position: relative;
}

.sample.ajax-loading .ajax-loader {
	background: fixed #fff;
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	display: block !important;
}

.samples-page__title {
	margin: .5em 0;
}

.samples-page__title h1 { 
    text-align: center;
    text-transform: uppercase;
    line-height: 32px;
    color: #000;
}

.samples-page__title h1 .light-font { font-size: 28px; }
.samples-page__title h1 .bold-font { font-size: 32px; font-weight: 600;}

.samples-page__filters {
	margin: 2em 1em;
	overflow: hidden;
}
.samples-page__filters .filter {
	display: inline-block;
	margin: .5em 1em;
	vertical-align: top;
}

.samples-page__filters .filter__label {
	color: #1a221e;
	font-size: 13px;
	margin: 0 0 1em;
}
.samples-page__filters .filter__box select {
	border: 1px solid #d5d5d5;
	border-radius: 5px;
	font-size: 13px;
	padding: 26px 10px;
	max-width: 300px;
}

.samples-page__filters .filter__box select:active, .samples-page__filters .filter__box select:focus, .samples-page__filters .filter__box select:visited, .samples-page__filters .filter_sel.active { border: 1px solid #fe5252; }

.samples-page__filters .filter_sel { 
	border: 1px solid #d5d5d5;
	border-radius: 5px;
	font-size: 13px;
	padding: 5px 10px;
	float: left;
	margin-left: 10px;
	cursor: pointer;
}

.samples-page__filters .filter_sel:first-child { margin-left: 0; }

.samples-page__filters .filter_sel span { position: relative; top: -15px; margin-left: 4px;}

/*.samples-page__filters .filter__box select[name=pa_filter] { display: none; }*/

.samples-page__samples {
	margin: 2em -1%;
	overflow: hidden;
}
.samples-page__samples .sample {
	display: inline-block;
	margin: 1%;
	width: 18%;
	vertical-align: top;
}
.samples-page__samples .sample-box {
	background: #fff;
	border: 1px solid #d7d7d7;
	position: relative;
}

.samples-page__samples .sample.ajax-loading .ajax-loader-wrap {
	position: absolute;
	width: 100%;
	height: 100%; 
	top: 0;
	background: #fff;
}

.samples-page__samples .sample.ajax-loading .ajax-loader {
	display: table !important;
	margin: 50% auto;
}

@media (max-width: 948px) {
	.samples-page__samples .sample {
		width: 23%;
	}
}

@media (max-width: 748px) {
	.samples-page__samples .sample {
		width: 31%;
	}
}

@media (max-width: 548px) {
	.samples-page__samples .sample {
		width: 48%;
	}
}

@media (max-width: 248px) {
	.samples-page__samples .sample {
		width: 98%;
	}
}

.samples-page__samples .sample .picture {
	margin: 0 0 1.5em;
	padding-top: 100%;
	overflow: hidden;
}
.samples-page__samples .sample .picture img {
	display: block;
	height: auto;
	margin: -110% -10% -10%;
	max-width: 120%;
}
.samples-page__samples .sample .title {
	color: #595959;
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	margin: .5em;
	text-align: center;
}
.samples-page__samples .sample .subtitle {
	color: #67676d;
	font-size: 13px;
	line-height: 1;
	margin: .5em;
	text-align: center;
	min-height: 13px;
}
.samples-page__samples .sample .buttons {
	margin: 1.25em .1em 1em;
	text-align: center;
}

.samples-page__samples .sample .buttons .btn-select,
.samples-page__samples .sample .buttons .btn-remove {
	border: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	margin: 4px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 88%;
}
.samples-page__samples .sample .buttons .btn-select{ background: #ffffff !important; color: #fe5252 !important; border: 1px solid #fe5252;}
.samples-page__samples .sample .buttons .btn-remove {
	background: #fe5252;
	display: none;
	border: 1px solid #fe5252;
}

.samples-page__samples .sample.sample-added .buttons .btn-select {
	display: none;
}

.samples-page__samples .sample.sample-added .buttons .btn-remove {
	display: inline-block;
}
