.redux-container{
	overflow:visible !important;
}
.vc_element-icon.vc-icon-tbay{
	background-image:url(../../images/vc-icon-tbay.png);
}
.image-preloader .redux-container-image_select ul.redux-image-select li{
	width:33%;
}